hr {
  border: none;
  background-color: #c41230;
  color: #B4CBDF;
  height: 10px;
  padding:0px;
  margin: 0px;
}
.form-line {
  border: none;
  background-color: #c41230;
  color: #B4CBDF;
  height: 1px;
  padding:0px;
  margin: 0px auto;
  width:60%;
}
.bg-banner {
  background:url('../images/Banner_with_border.png') no-repeat center center;
  height: 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.form-container {
  width: 30%;
  background-color:#f8f7f4;
  margin: 0 auto;
  height: 85%;
  opacity: 0.7;
  position: relative;
  top: 7%;
}
.form-container-line1{
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
}
.form-container-line2{
  font-size: 16px;
  margin: 0 auto !important;
  text-align: center;
}
.form-container-line3{
  font-size: 14px;
  margin: 5 auto !important;
  text-align: center;
}
.inner-stripe {
  width: 100%;
  background-color:#b1002c;
  margin: 0 auto !important;
  height: 100px;
  opacity: 1;
  position: relative;
}
.inner-stripe-content {
  font-size: 14px;
  margin: 5 auto !important;
  text-align: center;
  text-transform: uppercase;
  color: #fffffe;
}
.inner-stripe-content-large-text{
  font-size: 40px;
}
.inner-stripe-content-small-text{
  font-size: 10px;
}
.clear-margin{
  margin: 0 auto !important;
}